<style type="text/css">

#mainer {
    display: flex;
    align-content: stretch;
    /*height: 400px;*/
}
#mainer div {
    position: relative;
    flex-basis: 0;
}
#overallStat {
    flex-grow: 2;
}
#eachPingChart {
    flex-grow: 4;
}
#intPingChart {
    flex-grow: 5;
}
canvas {
    width: 100%;
    height: 500px;
}
</style>

<div id="mainer">
    <div id="overallStat">
        
    </div>
    <div id="eachPingChart">
        <canvas id="eachPing"></canvas>
    </div>
    <div id="intPingChart">
        <canvas id="intPing"></canvas>
    </div>
</div>

